In [3]:
import os
import pandas as pd
import feather
import numpy as np
import statsmodels.formula.api as sm
from statsmodels.api import add_constant
import itertools
import string
# get 2011 data
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 1000)
cwd = os.getcwd()
# income_2011 = pd.read_stata(cwd + "/CHARLS_2011/household_income.dta")
# income_2011 = income_2011[['householdID', 'ha074_1_', 'ha074_2_', 'ha074_3_', 'ha074_4_', 'ha074_5_', 'ha074_6_', 'ha074_7_', 'ha074_8_', 'ha074_9_', 'ha074_10_', 'ha074_11_', 'ha074_12_', 'ha074_13_', 'ha074_14_', 'ha074_15_', 'ha074_16_']]
# income_2011['saving'] = income_2011.fillna(0)['ha074_1_'] + income_2011.fillna(0)['ha074_2_'] + income_2011.fillna(0)['ha074_3_'] + income_2011.fillna(0)['ha074_4_'] + income_2011.fillna(0)['ha074_5_'] + income_2011.fillna(0)['ha074_6_'] + income_2011.fillna(0)['ha074_7_'] + income_2011.fillna(0)['ha074_8_'] + income_2011.fillna(0)['ha074_9_'] + income_2011.fillna(0)['ha074_10_'] + income_2011.fillna(0)['ha074_11_'] + income_2011.fillna(0)['ha074_12_'] + income_2011.fillna(0)['ha074_13_'] + income_2011.fillna(0)['ha074_14_'] + income_2011.fillna(0)['ha074_15_'] + income_2011.fillna(0)['ha074_16_']
# income_2011 = income_2011[['householdID', 'saving']]
# income_2011 = income_2011.dropna()
# income_2011 = income_2011[income_2011['saving'] != 0]
# income_2011 = income_2011[income_2011['saving'] != -10000.000000]
# income_2011['year'] = 2011
# income_2011['saving'].describe()
# income_2011

In [4]:
ind_income_2011 = pd.read_stata(cwd + "/CHARLS_2011/individual_income.dta")
ind_income_2011 = ind_income_2011[['householdID', 'hc004', 'hc005', 'hc006_1', 'hc006_2', 'hc006_3', 'hc006_4', 'hc006_5', 'hc006_6', 'hc006_7']]
ind_income_2011['saving'] = -1
ind_income_2011.loc[ind_income_2011['hc004'] == '2 No', 'saving'] = 0
ind_income_2011.loc[ind_income_2011.hc005.notna(), 'saving'] = ind_income_2011['hc005'].astype(float)
ind_income_2011.loc[ind_income_2011.hc006_1.notna(), 'saving'] = 2000
ind_income_2011.loc[ind_income_2011.hc006_2.notna(), 'saving'] = 5000
ind_income_2011.loc[ind_income_2011.hc006_3.notna(), 'saving'] = 10000
ind_income_2011.loc[ind_income_2011.hc006_4.notna(), 'saving'] = 50000
ind_income_2011.loc[ind_income_2011.hc006_5.notna(), 'saving'] = 100000
ind_income_2011.loc[ind_income_2011.hc006_6.notna(), 'saving'] = 200000
ind_income_2011.loc[ind_income_2011.hc006_7.notna(), 'saving'] = 500000
ind_income_2011 = ind_income_2011[ind_income_2011['saving'] != -1]
ind_income_2011 = ind_income_2011[['householdID', 'saving']]
income_2011 = ind_income_2011.groupby(['householdID'], as_index = False)["saving"].sum()
income_2011['year'] = 2011
income_2011['saving'].describe()

count    9.974000e+03
mean     9.296798e+03
std      6.453734e+04
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      4.000000e+06
Name: saving, dtype: float64

In [5]:
# income_2013 = pd.read_stata(cwd + "/CHARLS_2013/Household_Income.dta")
# income_2013 = income_2013[['ID','householdID', 'ha074_1_', 'ha074_2_', 'ha074_3_', 'ha074_4_', 'ha074_5_', 'ha074_6_', 'ha074_7_', 'ha074_8_', 'ha074_9_', 'ha074_10_', 'ha074_11_', 'ha074_12_', 'ha074_13_', 'ha074_14_', 'ha074_15_', 'ha074_16_']]
# income_2013['saving'] = income_2013.fillna(0)['ha074_1_'] + income_2013.fillna(0)['ha074_2_'] + income_2013.fillna(0)['ha074_3_'] + income_2013.fillna(0)['ha074_4_'] + income_2013.fillna(0)['ha074_5_'] + income_2013.fillna(0)['ha074_6_'] + income_2013.fillna(0)['ha074_7_'] + income_2013.fillna(0)['ha074_8_'] + income_2013.fillna(0)['ha074_9_'] + income_2013.fillna(0)['ha074_10_'] + income_2013.fillna(0)['ha074_11_'] + income_2013.fillna(0)['ha074_12_'] + income_2013.fillna(0)['ha074_13_'] + income_2013.fillna(0)['ha074_14_'] + income_2013.fillna(0)['ha074_15_'] + income_2013.fillna(0)['ha074_16_']
# income_2013 = income_2013[['householdID', 'saving']]
# income_2013 = income_2013.dropna()
# income_2013 = income_2013[income_2013['saving'] != 0]
# income_2013 = income_2013[income_2013['saving'] != -10000.000000]
# income_2013['year'] = 2013
# income_2013['saving'].describe()
ind_income_2013 = pd.read_stata(cwd + "/CHARLS_2013/individual_income.dta")
ind_income_2013 = ind_income_2013[['householdID', 'hc005', 'hc006_bracket_max', 'hc006_bracket_min']]
ind_income_2013['saving'] = -1
ind_income_2013.loc[ind_income_2013.hc005.notna() , 'saving'] = ind_income_2013['hc005']
ind_income_2013.loc[ind_income_2013.hc006_bracket_max.notna(), 'saving'] = 0.5 * (ind_income_2013['hc006_bracket_max'] + ind_income_2013['hc006_bracket_min'])
#ind_income_2013['saving'].describe()
ind_income_2013 = ind_income_2013[ind_income_2013['saving'] != -1]
ind_income_2013 = ind_income_2013[['householdID', 'saving']]
income_2013 = ind_income_2013.groupby(['householdID'], as_index = False)["saving"].sum()
income_2013['year'] = 2013
income_2013['saving']

0           0.0
1           0.0
2           0.0
3           0.0
4           0.0
         ...
9824        0.0
9825        0.0
9826      100.0
9827    30000.0
9828    50000.0
Name: saving, Length: 9829, dtype: float64

In [6]:
# income_2015 = pd.read_stata(cwd + "/CHARLS_2015/Individual_Income.dta")
# income_2015 = income_2015[['ID','householdID', 'hc001', 'hc002_bracket_max', 'hc002_bracket_min', 'hc005', 'hc006_bracket_max', 'hc006_bracket_min',
#                           'hc008', 'hc009_bracket_max','hc009_bracket_min', 'hc013', 'hc014_bracket_max', 'hc014_bracket_min', 
#                           'hc018', 'hc019_bracket_max', 'hc019_bracket_min']]
# income_2015['saving'] = income_2015.fillna(0)['hc001'] + 0.5 * income_2015.fillna(0)['hc002_bracket_max'] + 0.5 * income_2015.fillna(0)['hc002_bracket_min']\
# + income_2015.fillna(0)['hc005'] + 0.5 * income_2015.fillna(0)['hc006_bracket_max'] + 0.5 * income_2015.fillna(0)['hc006_bracket_min']\
# + income_2015.fillna(0)['hc008'] + 0.5 * income_2015.fillna(0)['hc009_bracket_max'] + 0.5 * income_2015.fillna(0)['hc009_bracket_min']\
# + income_2015.fillna(0)['hc013'] + 0.5 * income_2015.fillna(0)['hc014_bracket_max'] + 0.5 * income_2015.fillna(0)['hc014_bracket_min']\
# + income_2015.fillna(0)['hc018'] + 0.5 * income_2015.fillna(0)['hc019_bracket_max'] + 0.5 * income_2015.fillna(0)['hc019_bracket_min']

# income_2015 = income_2015[['householdID', 'saving']]
# income_2015.groupby(['householdID'])["saving"].sum()
# income_2015 = income_2015.groupby('householdID', as_index = False)['saving'].sum()
# income_2015['year'] = 2015
# income_2015['saving'].describe()
ind_income_2015 = pd.read_stata(cwd + "/CHARLS_2015/individual_income.dta")
ind_income_2015 = ind_income_2015[['householdID', 'hc005', 'hc006_bracket_max', 'hc006_bracket_min']]
ind_income_2015['saving'] = -1
ind_income_2015.loc[ind_income_2015.hc005.notna() , 'saving'] = ind_income_2015['hc005']
ind_income_2015.loc[ind_income_2015.hc006_bracket_max.notna(), 'saving'] = 0.5 * (ind_income_2015['hc006_bracket_max'] + ind_income_2015['hc006_bracket_min'])
#ind_income_2013['saving'].describe()
ind_income_2015 = ind_income_2015[ind_income_2015['saving'] != -1]
ind_income_2015 = ind_income_2015[['householdID', 'saving']]
income_2015 = ind_income_2015.groupby(['householdID'], as_index = False)["saving"].sum()
income_2015['year'] = 2015
income_2015['saving'].describe()

count    1.154900e+04
mean     2.325131e+04
std      1.147572e+05
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      1.000000e+04
max      8.000000e+06
Name: saving, dtype: float64

In [7]:
pension_2011 = pd.read_stata(cwd + "/CHARLS_2011/work_retirement_and_pension.dta")
pension_2011 = pension_2011[(pension_2011['fn038'] == "2 No") | (pension_2011['fn038'] == "1 Yes")]
pension_2011 = pension_2011[['ID', 'householdID', 'fn079']]
pension_2011['nrsp'] = pension_2011.fillna(0)['fn079']
pension_2011 = pension_2011[['ID', 'householdID', 'nrsp']]
df_2011 = pd.merge(pension_2011, income_2011, on='householdID', how='inner')
df_2011['householdID'] = df_2011['householdID'] + "0"
df_2011['ID'] = df_2011['householdID'] + df_2011['ID'].str[-2:]
id_list = df_2011[['ID']]
df_2011['nrsp'].describe()
df_2011

                 ID householdID  nrsp   saving  year
0      010104101001  0101041010   0.0      0.0  2011
1      010104101002  0101041010   0.0      0.0  2011
2      010104102001  0101041020   0.0      0.0  2011
3      010104102002  0101041020   0.0      0.0  2011
4      010104103001  0101041030   0.0      0.0  2011
...             ...         ...   ...      ...   ...
17266  347763309001  3477633090   0.0  50000.0  2011
17267  347763310001  3477633100   0.0      0.0  2011
17268  347763310002  3477633100   0.0      0.0  2011
17269  347763312001  3477633120   0.0      0.0  2011
17270  347763312002  3477633120   0.0      0.0  2011

[17271 rows x 5 columns]

In [8]:
pension_2013 = pd.read_stata(cwd + "/CHARLS_2013/Work_Retirement_and_Pension.dta")
pension_2013 = pension_2013[(pension_2013['fn069_w2'] == "2 No") | (pension_2013['fn069_w2'] == "1 Yes")]
pension_2013 = pension_2013[['ID', 'householdID', 'fn077_w2']]
pension_2013['nrsp'] = pension_2013.fillna(0)['fn077_w2']
pension_2013 = pension_2013[['ID', 'householdID', 'nrsp']]
pension_2013['nrsp'].describe()

count    18215.000000
mean        19.283005
std         71.267527
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max       3100.000000
Name: nrsp, dtype: float64

In [9]:
df_2013 = pd.merge(pension_2013, income_2013, on='householdID', how='inner')
df_2013

                 ID householdID  nrsp   saving  year
0      010104101001  0101041010   0.0      0.0  2013
1      010104101002  0101041010   0.0      0.0  2013
2      010104102001  0101041020   0.0      0.0  2013
3      010104102002  0101041020  55.0      0.0  2013
4      010104103001  0101041030   0.0      0.0  2013
...             ...         ...   ...      ...   ...
17070  347763310001  3477633100   0.0      0.0  2013
17071  347763311001  3477633110   0.0    100.0  2013
17072  347763311002  3477633110   0.0    100.0  2013
17073  347763313002  3477633130   0.0  30000.0  2013
17074  347763314002  3477633140   0.0  50000.0  2013

[17075 rows x 5 columns]

In [10]:
temp_list = df_2013['ID'].to_frame()
pension_2011 = pd.read_stata(cwd + "/CHARLS_2011/work_retirement_and_pension.dta")
# pension_2011 = pension_2011[(pension_2011['fn038'] == "2 No") | (pension_2011['fn038'] == "1 Yes")]
pension_2011 = pension_2011[['ID', 'householdID', 'fn079']]
pension_2011['householdID'] = pension_2011['householdID'] + "0"
pension_2011['ID'] = pension_2011['householdID'] + pension_2011['ID'].str[-2:]
pension_2011 = pd.merge(pension_2011, temp_list, on='ID', how='inner')
pension_2011['nrsp'] = pension_2011.fillna(0)['fn079']
pension_2011 = pension_2011[['ID', 'householdID', 'nrsp']]
pension_2011['nrsp'].describe()

count    14012.000000
mean         5.373809
std         31.942345
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max       1100.000000
Name: nrsp, dtype: float64

In [11]:
temp_list = df_2013['ID'].to_frame()
pension_2011 = pd.read_stata(cwd + "/CHARLS_2011/work_retirement_and_pension.dta")
# pension_2011 = pension_2011[(pension_2011['fn038'] == "2 No") | (pension_2011['fn038'] == "1 Yes")]
pension_2011 = pension_2011[['ID', 'householdID', 'fn079']]
pension_2011['householdID'] = pension_2011['householdID'] + "0"
pension_2011['ID'] = pension_2011['householdID'] + pension_2011['ID'].str[-2:]
pension_2011 = pd.merge(pension_2011, temp_list, on='ID', how='inner')
pension_2011['nrsp'] = pension_2011.fillna(0)['fn079']
pension_2011 = pension_2011[['ID', 'householdID', 'nrsp']]
income_2011['householdID'] = income_2011['householdID'] + "0"
df_2011 = pd.merge(pension_2011, income_2011, on='householdID', how='inner')
# df_2011['householdID'] = df_2011['householdID'] + "0"
# df_2011['ID'] = df_2011['householdID'] + df_2011['ID'].str[-2:]
id_list = df_2011[['ID']]
df_2011['nrsp'].describe()
df_2011

                 ID householdID  nrsp  saving  year
0      010104101001  0101041010   0.0     0.0  2011
1      010104101002  0101041010   0.0     0.0  2011
2      010104102001  0101041020   0.0     0.0  2011
3      010104102002  0101041020   0.0     0.0  2011
4      010104103001  0101041030   0.0     0.0  2011
...             ...         ...   ...     ...   ...
13890  347763302001  3477633020   0.0     0.0  2011
13891  347763302002  3477633020   0.0     0.0  2011
13892  347763306001  3477633060   0.0   498.0  2011
13893  347763306002  3477633060   0.0   498.0  2011
13894  347763310001  3477633100   0.0     0.0  2011

[13895 rows x 5 columns]

In [12]:
id_list

                 ID
0      010104101001
1      010104101002
2      010104102001
3      010104102002
4      010104103001
...             ...
13890  347763302001
13891  347763302002
13892  347763306001
13893  347763306002
13894  347763310001

[13895 rows x 1 columns]

In [13]:
df_2013['ID']

0        010104101001
1        010104101002
2        010104102001
3        010104102002
4        010104103001
             ...
17070    347763310001
17071    347763311001
17072    347763311002
17073    347763313002
17074    347763314002
Name: ID, Length: 17075, dtype: object

In [14]:
pension_2015 = pd.read_stata(cwd + "/CHARLS_2015/Work_Retirement_and_Pension.dta")
pension_2015 = pension_2015[['ID', 'householdID', 'fn068_w2_1_', 'fn068_w2_2_', 'fn068_w2_3_']]
pension_2015['nrsp'] = pension_2015.fillna(0)['fn068_w2_1_'] + 0.5 * pension_2015.fillna(0)['fn068_w2_2_'] + 0.5 * pension_2015.fillna(0)['fn068_w2_3_']
pension_2015 = pension_2015[['ID', 'householdID', 'nrsp']]
df_2015 = pd.merge(pension_2015, income_2015, on='householdID', how='inner')
df_2015['nrsp'].describe()

count    20248.000000
mean        33.312993
std        126.985546
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max       3000.000000
Name: nrsp, dtype: float64

In [15]:
gender_2013 = pd.read_stata(cwd + "/CHARLS_2013/Demographic_Background.dta")
gender_2013 = gender_2013[['ID', 'ba000_w2_3']]
gender_2013['gender'] = 0
gender_2013.loc[gender_2013.ba000_w2_3 == "2 female", 'gender'] = 2
gender_2013.loc[gender_2013.ba000_w2_3 == "1 male", 'gender'] = 1
gender_2013 = gender_2013[['ID', 'gender']]
gender_2013

                 ID  gender
0      010104101001       2
1      010104101002       1
2      010104102001       2
3      010104102002       1
4      010104103001       1
...             ...     ...
18600  347763310001       1
18601  347763311001       2
18602  347763311002       1
18603  347763313002       1
18604  347763314002       1

[18605 rows x 2 columns]

In [16]:
#df_2011['ID'] = df_2011['ID'].str[:9] + '0' + df_2011['ID'].str[9:]

In [17]:
df_2011.to_csv('2011.csv')
df_2013.to_csv('2013.csv')
df_2015.to_csv('2015.csv')
gender_2013.to_csv('gender.csv')

In [18]:
pension_2013 = pd.read_stata(cwd + "/CHARLS_2013/Work_Retirement_and_Pension.dta")
pension_2013 = pension_2013[(pension_2013['fn069_w2'] == "2 No") | (pension_2013['fn069_w2'] == "1 Yes")]
pension_2013 = pension_2013[['ID', 'householdID', 'fn077_w2']]
pension_2013['nrsp'] = pension_2013.fillna(0)['fn077_w2']
pension_2013 = pension_2013[['ID', 'householdID', 'nrsp']]
pension_2013['nrsp'].describe()

count    18215.000000
mean        19.283005
std         71.267527
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max       3100.000000
Name: nrsp, dtype: float64

In [19]:
id_list11 = df_2011[['ID']]
id_list13 = df_2013[['ID']]
id_list15 = df_2015[['ID']]

id_list = pd.merge(id_list11, id_list13, on='ID', how='inner')
id_list = pd.merge(id_list, id_list15, on='ID', how='inner')

id_list

                 ID
0      010104101001
1      010104101002
2      010104102001
3      010104102002
4      010104103001
...             ...
12290  347763301001
12291  347763302001
12292  347763302002
12293  347763306001
12294  347763306002

[12295 rows x 1 columns]

In [20]:
df_2011 = pd.merge(id_list, df_2011, on='ID', how='inner')
df_2011['saving'].describe()

count     12295.000000
mean       7912.364213
std       31438.060226
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max      800000.000000
Name: saving, dtype: float64

In [21]:
df_2011['nrsp'].describe()

count    12295.000000
mean         5.446345
std         32.899079
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max       1100.000000
Name: nrsp, dtype: float64

In [22]:
df_2013 = pd.merge(id_list, df_2013, on='ID', how='inner')
df_2013['saving'].describe()

count    1.229500e+04
mean     1.428144e+04
std      5.066669e+04
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      6.000000e+03
max      1.050000e+06
Name: saving, dtype: float64

In [23]:
df_2013['nrsp'].describe()

count    12295.000000
mean        20.954231
std         68.252109
min          0.000000
25%          0.000000
50%          0.000000
75%         50.000000
max       2200.000000
Name: nrsp, dtype: float64

In [24]:
df_2015 = pd.merge(id_list, df_2015, on='ID', how='inner')
df_2015['saving'].describe()

count    1.229500e+04
mean     1.968544e+04
std      1.012923e+05
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      1.000000e+04
max      8.000000e+06
Name: saving, dtype: float64

In [25]:
df_2015['nrsp'].describe()

count    12295.000000
mean        41.015981
std        135.280044
min          0.000000
25%          0.000000
50%          0.000000
75%         55.000000
max       3000.000000
Name: nrsp, dtype: float64